<h2>Etapas de Venta</h2>
<div class="row">
	<div class="col-sm-12">
		<a class="btn btn-{{ev.nuevo == true ? 'primary' : 'danger'}}" role="button" data-toggle="collapse" 
			href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="nuevaEtapaVenta" ng-click="ev.nuevaEtapaVenta()">
	 {{ev.nuevo == true ? 'Nuevo' : 'Cancelar'}}
		</a>
		<div class="collapse" id="collapseExample">
			<form class="form-horizontal" role="form" data-parsley-validate>
		  	<div class="well">	    
			    <div class="row">			    	
				    <div class="col-sm-2">
			    		<label>Orden </label>
				    	<input type="text" class="form-control" placeholder="Orden" ng-model="ev.etapaVenta.orden">
			    	</div>
			    	<div class="col-sm-4">
			    		<label>Nombre </label>
				    	<input type="text" class="form-control" placeholder="Nombre" ng-model="ev.etapaVenta.nombre">
			    	</div>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<input type="submit" ng-click="ev.guardar(etapaVenta)" value="Guardar" class="btn btn-primary" ng-show="ev.action">
						<input type="submit" ng-click="ev.actualizar(etapaVenta)" value="Actualizar" class="btn btn-primary" ng-show="!ev.action">				
					</div>
				</div>	  
		  </form>
		</div>
	</div>
</div>

<!-- List -->
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th width="5%"><div class="text-center">No.</div></th>
					<th width="5%"><div class="text-center">Orden</div></th>
					<th width="50%"><div class="text-center">Nombre</div></th>
					<th width="10%">
						<div class="text-center">
							Estatus
						</div>
					</th>
					<th width="7%">
						<div class="text-center">
							Acciones
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="etapaVenta in ev.etapasVenta">
		    	<td>{{$index + 1}}</td>
		    	<td>{{etapaVenta.orden}}</td>
			    <td>{{etapaVenta.nombre}}</td>
			    <td>
				    <div class="text-center">
				    	<span ng-if="etapaVenta.estatus" class="label label-success">
							  Activo
							</span>
							<span ng-if="!etapaVenta.estatus" class="label label-danger">
							  Inactivo
							</span>
				    </div>
			    </td>
			    <td>
				    <div class="text-center">
					    <div class="btn-group">
							  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu text-left">
							    <li><a href="#" ng-click="ev.editar(etapaVenta._id)"><i class="fa fa-pencil"></i> Editar</a></li>
							   <li><a href="#" ng-click="ev.cambiarEstatus(etapaVenta._id)"><i class="fa fa-trash"></i>Desactivar</a></li>
							  </ul>
							</div>
				    </div>				    
			    </td>
		    </tr>
			</tbody>
		</table>
	</div>
</div>


