<h2>Empleados</h2>
<div class="row">
	<div class="col-sm-12">
		<a class="btn btn-{{emp.nuevo == true ? 'primary' : 'danger'}}" role="button" data-toggle="collapse" 
			href="#collapseExample" aria-expanded="false" aria-controls="collapseExample" id="nuevoEmpleado" ng-click="emp.nuevoEmpleado()">
	 {{emp.nuevo == true ? 'Nuevo' : 'Cancelar'}}
		</a>
		<div class="collapse" id="collapseExample">
			<form class="form-horizontal" role="form" data-parsley-validate>
		  	<div class="well">	    
			    <div class="row">
			    	<div class="col-sm-4">					    
				    	<label>Usuario</label>
				    	<input type="text" class="form-control" placeholder="Usuario" ng-model="emp.empleado.nombreUsuario" required>
			    	</div>
			    	<div class="col-sm-4">					    
				    	<label>Contraseña</label>
				    	<input type="password" class="form-control" placeholder="Contraseña" ng-model="emp.empleado.contrasena" required>
			    	</div>		    				    	    
			    	<div class="col-sm-4">					    
				    	<label>Confirmar Contraseña</label>
				    	<input type="password" class="form-control" placeholder="Confirmar Contraseña" ng-model="emp.empleado.confirmarContrasena" required>
					</div>
			    	<div class="col-sm-4">
			    		<label>Nombre </label>
				    	<input type="text" class="form-control" placeholder="Nombre" ng-model="emp.empleado.nombre" required>
			    	</div>

			    	<div class="col-sm-4">
			    		<label>Apellido Paterno </label>
				    	<input type="text" class="form-control" placeholder="Apellido Paterno" ng-model="emp.empleado.apPaterno" required>
			    	</div>
			    	<div class="col-sm-4">
			    		<label>Apellido Materno</label>
				    	<input type="text" class="form-control" placeholder="Apellido Materno" ng-model="emp.empleado.apMaterno" required>
			    	</div>
			    	<div class="col-sm-4">
			    		<label>Dirección</label>
				    	<input type="text" class="form-control" placeholder="Dirección" ng-model="emp.empleado.direccion" required>
			    	</div>
			    	<div class="col-sm-4">
			    		<label>Teléfono</label>
				    	<input type="text" class="form-control" placeholder="Teléfono" ng-model="emp.empleado.telefono" required>
			    	</div>
			    	<div class="col-sm-4">
			    		<label>Correo</label>
				    	<input type="text" class="form-control" placeholder="Correo" ng-model="emp.empleado.correo" required>
			    	</div>
			    	<div class="col-sm-4">
							<label for="talla">Fotografía</label>
							<button class="btn btn-primary" ng-click="emp.tomarFoto(emp.empleado)"><i class="fa fa-camera"></i></button>
							<img width="100px" ng-src="{{emp.empleado.fotografia}}" ng-class="{'img-thumbnail': !!empleado.fotografia}" />
						</div>
			    </div>
				</div>
				<div class="row">
					<div class="col-sm-12">
						<input type="submit" ng-click="emp.guardar(emp.empleado)" value="Guardar" class="btn btn-primary" ng-show="emp.action">
						<input type="submit" ng-click="emp.actualizar(emp.empleado)" value="Actualizar" class="btn btn-primary" ng-show="!emp.action">						
					</div>
				</div>	  
		  </form>
		</div>
	</div>
</div>

<!-- List -->
<div class="row">
	<div class="col-sm-12">
		<table class="table table-bordered">
			<thead>
				<tr>
					<th width="10%"><div class="text-center">Foto</div></th>
					<th width="10%"><div class="text-center">Nombre</div></th>
					<th width="15%"><div class="text-center">Dirección </div></th>
					<th width="10%"><div class="text-center">Teléfono</div></th>
					<th width="10%"><div class="text-center">correo</div></th>
					<th width="10%">
						<div class="text-center">
							Estatus
						</div>
					</th>
					<th width="7%">
						<div class="text-center">
							Acciones
						</div>
					</th>
				</tr>
			</thead>
			<tbody>
		    <tr ng-repeat="empleado in emp.empleados">
		    	<td><img width="100px" ng-src="{{empleado.fotografia}}" ng-class="{'img-thumbnail': !!empleado.fotografia}"/> </td>
			    <td>{{empleado.nombre}} {{empleado.apPaterno}} {{empleado.apMaterno}}</td>
			    <td>{{empleado.direccion}} </td>
			    <td>{{empleado.telefono}} </td>
			    <td>{{empleado.correo}} </td>
			    <td>
				    <div class="text-center">
				    	<span ng-if="empleado.estatus" class="label label-success">
							  Activo
							</span>
							<span ng-if="!empleado.estatus" class="label label-danger">
							  Inactivo
							</span>
				    </div>
			    </td>
			    <td>
				    <div class="text-center">
					    <div class="btn-group">
							  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							    <span class="caret"></span>
							    <span class="sr-only">Toggle Dropdown</span>
							  </button>
							  <ul class="dropdown-menu text-left">
							    <li><a href="#" ng-click="emp.editar(empleado._id)"><i class="fa fa-pencil"></i> Editar</a></li>
							   <li><a href="#" ng-click="emp.cambiarEstatus(empleado._id)"><i class="fa fa-trash"></i>Desactivar</a></li>
							  </ul>
							</div>
				    </div>				    
			    </td>
		    </tr>
			</tbody>
		</table>
	</div>
</div>


